				<div id="da-slider" class="da-slider">
					<div class="da-slide">
						<h2>Computing Support Group</h2>
						<p>The Computing Support Group at Shiley Eye Center, provides a host of services.  That range from blah blah blah.  We basically handle everything that has a plug.</p>
						<a href="#" class="da-link">Read more</a>
						<div class="da-img"><img src="images/2.png" alt="image01" /></div>
					</div>
					<div class="da-slide">
						<h2>John Cerda</h2>
						<p>John has been with UCSD for over 15 years and nearly 11 at Shiley.  He has been instrumental in the developement of the Shiley network and growth of technology adoption at Shiley. </p>
						<a href="#" class="da-link">blah blah balh</a>
						<div class="da-img"><img src="images/3.png" alt="image01" /></div>
					</div>
					<div class="da-slide">
						<h2>Ronnie McClean</h2>
						<p>Our resident Active Directory Guru, is also a active reserve service member.  He is currently on deployment in Afghanistan, working to bring the troops home.</p>
						<a href="#" class="da-link">Read more</a>
						<div class="da-img"><img src="images/1.png" alt="image01" /></div>
					</div><div class="da-slide">
						<h2>Alex Peterkin</h2>
						<p>Too smart for his own good. Alex has enough schooling and knowledge for 4 degrees, but the only one that matters is his magna cum laude from the school of life.  </p>
						<a href="#" class="da-link">Read more</a>
						<div class="da-img"><img src="images/1.png" alt="image01" /></div>
					</div>
					<div class="da-slide">
						<h2>Jack Li</h2>
						<p>Not only does Jack masterfully handel the day in / day out gruelling tasks associated with a busy help desk gracefully.  He is also an avid photog.  </p>
						<a href="#" class="da-link">Read more</a>
						<div class="da-img"><img src="images/4.png" alt="image01" /></div>
					</div>
					<div class="da-slide">
						<h2>Rey Moreno</h2>
						<p>Web developer with a slew of startup biz experience always schemeing on the next big thing.</p>
						<a href="#" class="da-link">Read more</a>
						<div class="da-img"><img src="images/man.png" alt="image01" /></div>
					</div>
				
				
					<nav class="da-arrows">
						<span class="da-arrows-prev"></span>
						<span class="da-arrows-next"></span>
					</nav>
				</div>
	        </div>
			<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
			<script type="text/javascript" src="js/jquery.cslider.js"></script>
			<script type="text/javascript">
				$(function() {
			
					$('#da-slider').cslider({
						autoplay	: true,
						bgincrement	: 450,
						interval    : 10000 
					});
			
				});
			</script>	